/* styles.css */

/* 基本样式 */
body {
    background-color: #7877aa; /* 设置页面背景颜色为浅灰色 */
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px); /* 调整模糊效果的值 */
    -webkit-backdrop-filter: blur(20px); /* Safari 兼容性 */
    z-index: -1; /* 确保在页面内容下方 */
}

.container {
    padding-top: 20px; /* 上方填充 */
    padding-bottom: 20px; /* 下方填充 */
}

#player {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 20px;
}

/* 搜索栏样式 */
.search-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 10px 0; /* 调整上下内边距，增加整体高度 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1); /* 设置背景颜色和透明度 */
}

.container-fluid {
    padding-top: 100px; /* 确保内容不会被固定的搜索栏覆盖 */
}

.search-bar input,
.search-bar button {
    width: 100%;
    margin-bottom: 10px; /* 下方外边距 */
    padding: 10px; /* 调整内边距 */
    box-sizing: border-box; /* 确保内边距不影响元素的总宽度 */
}

.thead-blue {
    background-color: #007bff; /* Bootstrap的蓝色 */
    color: white; /* 白色文字 */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000; /* 确保弹出框在搜索栏上方 */
    display: none; /* 初始时隐藏 */
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色和透明度 */
    border: 1px solid #ccc; /* 可选：设置边框 */
    padding: 10px; /* 可选：设置内边距 */
}

#songlist-table {
    --bs-table-striped-bg: rgb(201 67 67 / 5%);
}

/* 响应式设计 */
@media (max-width: 1550px) {
    .artistlist-div {
        display: none; /* 隐藏元素 */
    }
    .dynamic-select {
        display: none; /* 隐藏元素 */
    }
    #content {
        margin-top: 130px; /* 根据需要调整距离 */
    }
    .container-fluid {
        padding-top: 0px; /* 确保内容不会被固定的搜索栏覆盖 */
    }
}

@media (max-width: 728px) {
    .artistlist-div {
        display: none; /* 隐藏艺术家列表 */
    }
    .dynamic-select {
        display: none; /* 隐藏动态选择 */
    }
    .container-fluid {
        padding-top: 70px; /* 确保内容不会被固定的搜索栏覆盖 */
    }
}

@media (max-width: 515px) {
    .container-fluid {
        padding-top: 0px; /* 确保内容不会被固定的搜索栏覆盖 */
    }
    #search-album{
        display: none; /* 隐藏动态选择 */
    }
    #search-artist{
        display: none; /* 隐藏动态选择 */
    }
    #search-song{
        display: none; /* 隐藏动态选择 */
    }
    #dynamic{
        display: none; /* 隐藏动态选择 */
    }
}

.mianpage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 设置每个块之间的间距 */
}

.col-md-3 {
    flex: 1 0 21%; /* 根据需要调整此比例 */
    margin-bottom: 20px; /* 设置底部间距 */
}

/* 专辑列表 */
.card {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between; /* 确保内容均匀分布 */
    background-color: rgba(255, 255, 255, 0.2);
}

.square-img-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%; /* 1:1 aspect ratio (square) */
    background-color: #616bf5;
}

.square-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片比例并填充容器 */
    background-color: #616bf5;
}

.card-title,
.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

/* 艺术家列表 */
.artistlist-div {
    position: fixed;
    bottom: 60px;
    right: 0;
    width: 400px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3); /* 调整背景色透明度 */
    border-radius: 10px; /* 圆角边框 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    transition: box-shadow 0.3s ease-in-out; /* 添加过渡效果 */
    z-index: 10;
}

.play-album {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-album:hover {
    background-color: #f0f0f0; /* 添加一个背景色作为提示 */
}

/* 搜索 */
.artist-item {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    white-space: normal;
}

.list-group-item .btn {
    white-space: nowrap; /* 防止按钮文字换行 */
}




/* 设置歌曲列表容器的样式 */
#songlist-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* 为容器设置一个浅色背景，方便观察 */
}

/* 设置表头的样式 */
.song-header {
    display: flex;
    font-weight: bold;
    background-color: #b9a0f5;
    padding: 10px;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 设置每个歌曲项的样式 */
.song-item {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 鼠标悬停时的背景色 */
.song-item:hover {
    background-color: #ff21ff;
}

/* 隔行变色：奇数行 */
.song-item:nth-child(odd) {
    background-color: #f5f1ff;
}

/* 隔行变色：偶数行 */
.song-item:nth-child(even) {
    background-color: #dacbff;
}

/* 设置歌曲项各列的样式 */
.song-track, .song-title, .song-artist, .song-ogmusic {
    flex: 1;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 设置歌曲序号的宽度和对齐方式 */
.song-track {
    width: 80px;
    text-align: center; /* 水平居中 */
}

/* 设置歌曲标题的宽度 */
.song-title {
    flex: 2;
}

/* 设置艺术家的宽度 */
.song-artist {
    flex: 1.5;
}

/* 设置原曲的宽度 */
.song-ogmusic {
    flex: 2;
}
